
body, p, span {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

.left {
	float: left;
}

.right {
	float: right;
}


#header {
	width: 100%;
	border-top: 5px solid black;
	height: 200px;
	position: relative;
	background: repeating-linear-gradient(
		-45deg,
		#eee,
		#fff 1px
	);
}

#content {
	
}

#footer {
	width: 100%;
	height: 300px;
	position: relative;
	background: repeating-linear-gradient(
		-45deg,
		#ddd,
		#ccc 1px
	);
}

.container {
	margin-left: auto;
    margin-right: auto;
	width: 1100px;
}

.header-top {
	margin-top: 0px;
}

.header-middle {
	margin-top: 10px;
	padding-top: 30px;
}

.header-bottom {
	position: absolute;
	bottom: 0px;
	background-color: #eee;
	border-bottom: 4px solid black;
	font-size: 26px;
	width: 1100px;
	padding: 11px 0 11px 0;
}

.phone-info {
	margin-right: 25px;
}

.page-menu a {
	color: #444;
	text-decoration: none;
}

.page-menu a:hover {
	color: blue;
}

.page-menu span {
	color: #ddd;
	margin: 0 4px 0 4px;
}

.language-block {
	margin-right: 25px;
}

.currency-block select, .language-block select {
	background: rgba(0, 0, 0, 0);
	outline: none;
	border: 0px;
}

.logo-text {
	font-size: 40px;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
	margin-right: 110px;
	top: 10px;
	position: relative;
}

.search-form input {
	padding: 10px;
	border: 2px #ddd solid;
	width: 280px;
	outline: none; 
	background-image: url("images/loop.png");   
    background-repeat: no-repeat;
    background-position: 275px;
	color: #888;
}

.menu-cart-block {
	margin-top: 25px;
}

.cart-block {
	margin-left: 40px;
}

.main-menu span {
	padding: 20px 20px 15px 20px;
	cursor: pointer;
}

.main-menu #current-item {
	background-color: #111;
	color: white;
	cursor: default;
	padding: 20px 21px 16px 21px;
}

.main-menu span:hover{
	background-color: #0df;
}

.banner {
	background-color: #ccc;
	height: 390px;
	margin: 20px 0 30px 0;
}

.feature-title {
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 0px;
}

hr {
	padding: 0;
	margin: 65px 0 19px 0;
	background-color: #eee;
	border: 1px #eee solid;
	height: 0px;
}

.navigation > span {
	padding: 8px 12px 8px 12px;
	margin-right: 4px;
	background-color: #ddd;
	cursor: pointer;
}

#products {
    list-style: none;
    width: 100%;
	height: 100%;
    margin: 0 15px 0 15px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#products > li {
    display: inline-block;
    width: 200px;
    height: 390px;
	margin-right: 15px;
}

#products .product-picture {
	position: relative;
	height: 250px;
	background-color: #ddd;
}

#products .picture-actions {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

#products .picture-actions span {
	padding: 6px;
	background-color: white;
	cursor: pointer;
	font-size: 18px;
}

#products .product-info {
	position: absolute;
	#background-color: #1dd;
}

#products .product-title {
	padding: 18px 0 12px 0;
	font-size: 20px;
	color: grey;
}

#products .product-cost {
	font-size: 14px;
	color: #88f;
}

#products .product-addcart {
	background-color: #eef;
	border: 0;
	padding: 13px 22px 13px 22px;
	margin-top: 18px;
	cursor: pointer;
}

.after-products {
	height: 160px;
}

.content-menu {
	position: relative;
	top: -35px;
}

.footer-menu-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #444;
}

.footer-menu {
	padding: 60px 0 190px 0;
}

.footer-menu > div {
	margin-right: 55px;
	float: left;
}

.footer-menu a {
	color: #666;
	text-decoration: none;
}

.footer-menu a:hover {
	color: blue;
}

.copyright {
	font-size: 15px;
	color: #444;
}


















