<div class="mdl-grid">

    <div class="mdl-shadow--2dp
                mdl-cell
                mdl-cell--1-offset-desktop
                mdl-cell--10-col-desktop
                mdl-cell--12-col
                mdl-cell--12-col-tablet">
        <div style="text-align: center">
            <ch-spinner style="position: relative; top: 250px" _nghost-c8=""><!----></ch-spinner>
        </div>
        <!---->

        <div class="article"><h1>Как пользоваться тайм-трекером CyberHULL</h1>
<p>Внутри компании мы называем этот инструмент <strong>Retoggl</strong>. Такое название он получил потому, что до него мы пользовались <a target="_blank" href="https://toggl.com">Toggl</a>, из которого приходилось каждую неделю выгружать данные в нашу учетную систему. Затем, мы создали Retoggl, который отправляет данные сразу в нее. Кроме того, Retoggl получает данные о текущих проектах разработчика, а также предоставляет другие сервисы, кроме учета времени.</p>
<h2>Первый запуск</h2>
<p>Как сотрудник CyberHULL, ты получил на email письмо со ссылкой на timer.cyberhull.com. Эта ссылка содержит токен, который дает тебе доступ к твоим данным учета времени. Не следует передавать этот токен другим сотрудникам, чтобы у них не возникало возможности регистрировать время под твоей учетной записью, и не возникало путаницы.</p>
<p>После первого запуска ссылку на <a href="http://timer.cyberhull.com/#/timer">http://timer.cyberhull.com/#/timer</a> стоит сохранить в закладках, чтобы было удобнее запускать его в начале рабочего дня. Письмо с первоначальной ссылкой, содержащей токен так же не стоит удалять. Эта ссылка может пригодиться, если по какой-то причине придется разлогиниться из системы, либо полностью очистить локальные даннные для этого сайта.</p>
<h2>Учет времени</h2>
<p>Каждый сотрудник CyberHULL должен учитывать свое рабочее время в этой системе. Учет должен быть достаточно аккуратным для того, чтобы можно было понять, чем сотрудник был занят в течение дня, а также выставить счет за потраченное время клиентам.</p>
<p>Для создания новой записи о потраченном времени следует:</p>
<ul>
<li>Ввести описание текущей задачи в поле <strong>Task description...</strong> в шапке приложения (обязательно).</li>
<li>В поле <strong>Select project...</strong> выбрать проект из списка (обязательно).</li>
<li>Нажать кнопку <strong>Start</strong> </li>
<li>По окончании работы над задачей нажать на том же месте кнопку <strong>Stop</strong> </li>
</ul>
<blockquote>
<p><strong>Важно!</strong> Поля <strong>Task description...</strong> и <strong>Select project...</strong> обязательно должны быть заполнены, чтобы можно было запустить или остановить запись. Если кнопка Start/Stop "не работает", проверьте, что оба поля заполнены.</p>
</blockquote>
<p>Описание задачи должно включать номер тикета, и описание того, что в рамках этого тикета было сделано.</p>
<p>Список проектов зависит от того, на какие проекты сотрудник запланирован (назначен). Кнопка <strong>Show all</strong> добавляет в список проекты, на которых сотрудник работал ранее. Если ты не обнаружил нужного проекта в списке - сообщи менеджеру. После этого, возможно, потребуется нажать F5 для обновления данных с сервера (и получения обновленного списка проектов).</p>
<p>Исторические записи можно исправлять задним числом. Можно исправлять все поля - описание, проект, время.</p>
<p>Для копирования исторической записи в текущую можно нажать кнопку <strong>Continue</strong>  слева от нужной записи. Этим удобно пользоваться, чтобы не вводить все данные каждый раз, если работаешь над одной и той же задачей, или одним и тем же проектом.</p>
<p>Запись можно удалить, нажав на кнопку <strong>Delete</strong> справа от записи, которую требуется удалить. Программа попросить подтвердить удаление.</p>
<h2>Отчеты</h2>
<p>В разделе <a href="/#/reports"><strong>Reports</strong></a> можно посмотреть сводный отчет по потраченным часам с разбивкой по дням, клиентам и проектам. Так же можно посмотреть отчет за месяц - для этого следует кликнуть на надпись "This week".</p>
<h2>Контакты</h2>
<p>Раздел <a href="/#/contacts"><strong>Contacts</strong></a> показывает список сотрудников CyberHULL с указанием их фото, должностей и контактов. Так же список содержит внешних разработчиков. </p>
<p>Возле каждого сотрудника CyberHULL есть кнопка <strong>SAY THANKS</strong>, которая позволяет отправить сообщение с благодарностью для учета в системе. Сотрудник, набравший больше всего благодарностей в течение месяца будет награжден статусом <strong>Most Helpful Peer</strong> и дополнительно премирован. </p>
<p>Внешние разработчики в этой программе не участвуют.</p>
<h2>Документы</h2>
<p>Раздел <a href="/#/documents"><strong>Documents</strong></a> содержит различные документы и информацию, необходимую для работы на проектах компании CyberHULL.</p>
<h2>Code review</h2>
<p>Форма <a href="/#/code-review"><strong>Code Review</strong></a> доступна только сотрудникам, осуществляющим контроль за кодом (делающим Code Review), и предназначена для регистрации результата code review в учетной системе.</p>
<h2>Logout</h2>
<p>Выход из системы обычно не требуется. Однако может помочь при возниконовении сбоев работы программы в браузере.</p>
<hr>
<p><em><strong>Viewed by:</strong> Aleksey Voitovich; Alexander Mikhailov; Alexander Nosachev; Alexander Shibaev; Andrey Tarasov; Danila Vasenin; Darryl Kuhn; Ilya Antonov; Ivan Rybakov; Konstantin Kutin; Mikhail Karev; Nataliya Sytnikova; Nikita Abrashnev; Nikolay Zubkov; Oleg Kostyaev; Oleg Zhivov; Petr Naumenko; Semyon Egorov; Sergey Medinskiy; Valentin Klimov; Vasilii Isaev; Viktor Ananin; Yaroslav Pilipenko; Yury Ziukov</em></p>
</div>
    </div>
</div>
