
body {
	margin: 20px;
	padding: 0px;
	font-size: 16px;
	background-color: #aff;
}

#selector {
	background: repeating-linear-gradient(
		45deg,
		#fbf,
		#bff 101px
	);
	outline: none;
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 8px;
}

#content {
	margin-top: 30px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	width: 800px;
	height: 600px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.control {
	margin-left: 20px;
	color: #99f;
	text-decoration: none;
	border-bottom: 1px dotted;
}